<template>
    <style>
        .loader{
            margin: 0 0 2em;
            height: 100px;
            width: 20%;
            text-align: center;
            padding: 1em;
            margin: 0 auto 1em;
            display: inline-block;
            vertical-align: top;
        }

        /*
          Set the color of the icon
        */
        svg path,
        svg rect{
            fill: #1e5799;
        }
        img{
            width:90%;
			height:90%;
            border: 1px solid #000000;
        }
        div[data-skin-part="thumbnailContainer"]{
            min-width:500px;
            min-height:500px;
            width:100%;
            height:100%;
            margin: 0 0 2em;
            height: 100px;
            width: 20%;
            text-align: center;
            padding: 10px;
            margin: 0 auto 1em;
            display: inline-block;
            vertical-align: top;
			box-shadow:-3px 3px 5px rgba(0,0,0,0.3);
			border-radius:15px;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#424242+0,ededed+64,7c7c7c+100 */
			background: #424242; /* Old browsers */
			background: -moz-linear-gradient(45deg, #424242 0%, #ededed 64%, #7c7c7c 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(45deg, #424242 0%,#ededed 64%,#7c7c7c 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(45deg, #424242 0%,#ededed 64%,#7c7c7c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#424242', endColorstr='#7c7c7c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
			}		
		div[class="inner-frame1"]{
			width:calc(100% - 20px);
			height:calc(100% - 20px);
			border-radius:10px;
			display: -webkit-flex;
			display: flex;
			-webkit-flex-flow: row;
			flex-flow: row;
			flex-direction: row;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-align-items: center;
			align-items: center;
			padding:10px;
			border:1px solid #777;
			
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8e8e8e+1,ededed+32,424242+100 */
			background: #8e8e8e; /* Old browsers */
			background: -moz-linear-gradient(-45deg, #8e8e8e 1%, #ededed 32%, #424242 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(-45deg, #8e8e8e 1%,#ededed 32%,#424242 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(135deg, #8e8e8e 1%,#ededed 32%,#424242 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e8e8e', endColorstr='#424242',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */	
			}
    </style>
    <div data-skin-part="thumbnailContainer" data-attribute-thumb-width="500px" data-attribute-thumb-height="500px">
        <div class="inner-frame1">
			<div class="inner-frame2">
		<img data-skin-part="thumbnail" draggable="false"/>
        <svg data-skin-part="loadingSVG" version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"width="40px" height="40px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve"><path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z"><animateTransform attributeType="xml"attributeName="transform"type="rotate"from="0 25 25"to="360 25 25"dur="0.6s"repeatCount="indefinite"/></path></svg>
			</div>
		</div>
   </div>
</template>