/.idea/workspace.xml
/.idea/deployment.xml
/.idea/misc.xml

/.idea/modules.xml

/.idea/webServers.xml

/.idea/
/.DS_Store
/node_modules
.DS_Store
**/node_modules
/lib
/esm
/docs

example/image-gallery/5d1a1293b965cba3ac1c58697622e3a8.html
