<template>
    <style>
        div{
            background-color: chartreuse;
            border: solid 1px red;
        }
    </style>
<div id="imageGalleryPanel" source="sampleAPI" attribute-item-view="SampleApp.ImageGalleryView">

    <!-- record set navigation -->
    <div skin-part="navButtonContainer" enabled-class="enabled" disabled-class="disabled">
        <button skin-part="firstBtn" id="firstBtn" class="spi-button spi-button-icon-only button"
                style="width:28px;height:24px;">
            <label style="pointer-events:none;"><img src="css/assets/i_first.png" border="0"/></label>
        </button>


        <button skin-part="pervBtn" id="pervBtn" class="spi-button spi-button-icon-only button"
                style="width:28px;height:24px;">
            <label style="pointer-events:none;"><img src="css/assets/i_previous.png" border="0"/></label>
        </button>

        <button skin-part="nextBtn" id="nextBtn" class="spi-button spi-button-icon-only button"
                style="width:28px;height:24px;">
            <label style="pointer-events:none;"><img src="css/assets/i_next.png" border="0"/></label>
        </button>

        <button skin-part="lastBtn" id="lastBtn" class="spi-button spi-button-icon-only button"
                style="width:28px;height:24px;">
            <label style="pointer-events:none;"><img src="css/assets/i_last.png" border="0"/></label>
        </button>
    </div>

    <div skin-part="collectionContainer" id="collectionContainer">

        <!-- Itemrenderer skin -->
        <div skin-part="itemTemplate" class="itemRenderer" attribute-thumb-width="96" attribute-thumb-height="96">
            <div class="thumbnailContainer someClass" skin-part="thumbnailContainer" selected-class="selectedThumbContainer">
                <img skin-part="thumbnail" selected-class="thumbSelected" draggable="true"/>
            </div>
        </div>

    </div>

</div>
</template>