<template>
    <style>
        @font-face {
            font-family: 'SegoeUI';
            src: url('../css/fonts/segoeui.ttf') format('truetype');

            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'SegoeUI';
            src: url('../css/fonts/segoeuib.ttf') format('truetype');

            font-weight: 500;
            font-style: normal;
        }

        @font-face {
            font-family: 'SegoeUI';
            src: url('../css/fonts/segoeuii.ttf') format('truetype');

            font-weight: normal;
            font-style: italic;
        }

		/* Hide the actual radio since it is impossible to skin and use an HTML component 
		as the radio UI in the label for each radio button */
		
		input[type=radio] {
			cursor:pointer;
		}
		
		input[type=radio]:focus {
			outline: none;
		}

        input[type=radio]:checked{
            border: 5px solid #1e5799;
        }

        input[type=radio]:checked::before{
            background: #1e5799;
        }

        input[type=radio]:checked ~ label{
            font-weight:bold;
        }
		
		div[data-skin-part="itemTemplate"] {
		   	display: -webkit-flex;
			display: flex;
			-webkit-flex-flow: row;
			flex-flow: row;
			flex-direction: row;
			-webkit-justify-content: flex-start;
			justify-content: flex-start ;
			-webkit-align-items: center;
			align-items: center;
			border-bottom:2px solid #777;
		}
		
		div[data-skin-part="itemTemplate"]:last-child {
			border-bottom:2px solid rgba(0,0,0,0); /* use invisible border to prevent size issues */
		}			
	
		
		fieldset[data-skin-part="collectionContainer"] {
			border:none;
			border:2px solid #777;
			border-radius:6px;
			max-width:150px;
			background:#fff;
			padding:0px;
			box-shadow: -1px 1px 3px rgba(0,0,0,0.3);
		}
		
		
		label[data-skin-part="label"] {
			 font-family: 'SegoeUI';
			 font-size:14px;
			 padding:5px;
		}
    </style>
    <fieldset data-attribute-item-view="Lotus.RadioItemView" data-skin-part="collectionContainer">
        <div data-skin-part="itemTemplate">
			
            <input type="radio" data-skin-part="radio" />
            <label data-skin-part="label"></label>
        </div>
    </fieldset>
</template>