<template>
	<style>
		@font-face {
			font-family: 'SegoeUI';
			src: url('fonts/segoeui.ttf') format('truetype');

			font-weight: normal;
			font-style: normal;
		}

		@font-face {
			font-family: 'SegoeUI';
			src: url('fonts/segoeuib.ttf') format('truetype');

			font-weight: 500;
			font-style: normal;
		}

		@font-face {
			font-family: 'SegoeUI';
			src: url('fonts/segoeuii.ttf') format('truetype');

			font-weight: normal;
			font-style: italic;
		}


				div[class="file-upload2"] button{
			cursor:pointer;
			color:#eee;
			width:190px;
			height:35px;
			border-radius:50px;
			
			border: 1px solid #777;
			max-width:200px;
			font-weight:bold;
			padding:5px;
			
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#666666+0,3d3d3d+100 */
			background: rgb(102,102,102); /* Old browsers */
			background: -moz-linear-gradient(top, rgba(102,102,102,1) 0%, rgba(61,61,61,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(102,102,102,1) 0%,rgba(61,61,61,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(102,102,102,1) 0%,rgba(61,61,61,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#3d3d3d',GradientType=0 ); /* IE6-9 */
		}

		div[class="file-upload2"] button * {
			cursor:pointer;
		}

		div[class="file-upload2"] button:focus {
			outline: none;
		}

		div[class="file-upload2"] button:hover {
			border:1px solid #ff8a00;
		
		}

		div[class="file-upload2"] button:hover label {
			color:#ff8a00;
		}

		div[class="file-upload2"] button label {
			font-family: 'SegoeUI';
			font-size:14px;
		}
		div[class="file-upload2"] .thumbnailContainer {
			width: 95px;
			height: 95px;
			min-height:95px;
			min-width:95px;
			max-height: 95px;
			max-width: 95px;
			border:1px dashed #eee;
			border-radius:10px;

			display: -webkit-flex;
			display: flex;
			-webkit-flex-flow: row;
			flex-flow: row;
			flex-direction: row;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-align-items: center;
			align-items: center;
		}

		div[class="file-upload2"] label[data-skin-part=fileTypeLabel]{
			color: #000;
			margin: 5px;
		}

		div[class="file-upload2"] button[data-skin-part=cancelBtn]{
			margin: 5px;
			margin-left:0px;
		}

	
		div[class="file-upload2"] .noScrolling {
			overflow: hidden;
		}
		div[class="file-upload2"] .progressBar {
			width: 100%;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+0,666666+100 */
			background: rgb(51,51,51); /* Old browsers */
			background: -moz-linear-gradient(top, rgba(51,51,51,1) 0%, rgba(102,102,102,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(51,51,51,1) 0%,rgba(102,102,102,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(51,51,51,1) 0%,rgba(102,102,102,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#666666',GradientType=0 ); /* IE6-9 */			border-radius:10px;
			margin-top:5px;
			border:1px solid #777;
		}
		div[class="file-upload2"] div[data-skin-part=progressBar]{
			min-width: 10px;
			width: 10px;
			height: 10px;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffdc62+0,ff8a00+100 */
			background: rgb(255,220,98); /* Old browsers */
			background: -moz-linear-gradient(top, rgba(255,220,98,1) 0%, rgba(255,138,0,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(255,220,98,1) 0%,rgba(255,138,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(255,220,98,1) 0%,rgba(255,138,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffdc62', endColorstr='#ff8a00',GradientType=0 ); /* IE6-9 */
			border-radius:10px;
		
		}
		
		div[class="file-upload2"] .fileinfo {
			width: 100%;
		    margin-left:10px;
		}
		
		div[class="file-upload2"] div[data-skin-part=itemTemplate] {
			display: -webkit-flex;
			display: flex;
			-webkit-flex-flow: row;
			flex-flow: row;
			flex-direction: row;
			-webkit-justify-content: flex-start;
			justify-content: flex-start;
			-webkit-align-items: flex-start;
			align-items: flex-start;
			width: 100%;
			padding: 8px;
			background:#555;
			border:1px solid #999;
			border-radius:8px;
			margin-top:5px;
		}
		
		div[class="file-upload2"] div[class="info-container"] {
			width:100%;
		}
		
		div[class="file-upload2"] button[data-skin-part="cancelBtn"],  div[class="file-upload2"] button[data-skin-part="clearBtn"] {
			min-width:85px;
			width:85px;
			height:85px;
			
			font-family:"SegoeUI";
			font-size:10.5px;
			height:25px;
			padding:2px;
		}
		
		div[class="file-upload2"] button[data-skin-part="cancelBtn"] label,  div[class="file-upload2"] button[data-skin-part="clearBtn"] label {
			font-size:10.5px;
		}
		div[class="file-upload2"] label[data-skin-part="fileLabel"],
		div[class="file-upload2"] label[data-skin-part="fileTypeLabel"] {
			font-family:"SegoeUI";
			font-size:11px;
			color:#eee;
		}
		
		div[class="file-upload2"] label[data-skin-part=fileLabel]{
			font-size: 14px;
			font-weight: bold;
			margin: 5px;
		}

		div[data-skin-part="collectionContainer"]{
			max-width:500px;
		}

		.fileInfo{
			padding: 10px;
		}
	</style>
<div data-attribute-item-view="Lotus.FileView" class="file-upload2">
	<input type="file" multiple accept="image/*" style="display:none" data-skin-part="fileInput"/>
	<!-- selectBtn can be any element that dispatches a click event-->

	<!-- Upload file button -->
	<button data-skin-part="selectBtn" id="replaceImageButton" style="width:100%;">
		<label >Upload Photos</label>
	</button>


	<div data-skin-part="collectionContainer">

		<!-- Itemrenderer skin -->
		<div data-skin-part="itemTemplate">

			<!-- Thumbnail -->
			<div data-skin-part="thumbnailContainer" class="thumbnailContainer" >
				<img data-skin-part="thumbnail"/>
			</div>

			<!-- Filename and type -->
			<div class="fileInfo">
			
			
					<label data-skin-part="fileLabel" class="noScrolling" >File Label</label>
					
					<br />
					
					<label data-skin-part="fileTypeLabel">File Type</label>

					<!-- Progress Bar -->
					<div class="progressBar">
						<div data-skin-part="progressBar"></div>
					</div>
			
					
				<!-- Cancel/Clear Buttons -->
				<div >
					<button data-skin-part="cancelBtn"><label>Cancel<label></button>
					<button data-skin-part="clearBtn"><label>Clear<label></button>
				</div>

				<!-- Status Indicators, add images or svg content as needed -->
				<div data-skin-part="statusIndicator">
					<img data-skin-part="loadIndicator"/>
					<img data-skin-part="errorIndicator"/>
					<img data-skin-part="progressIndicator"/>
					<img data-skin-part="pendingIndicator"/>
					<img data-skin-part="abortIndicator"/>
				</div>
			</div>
		</div>
	</div>
</div>
</template>