/* Web Components CSS */
/* Font - used to match the Adobe CC font type */
@font-face {
  font-family: 'SegoeUI';
  src: url('fonts/segoeui.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url('fonts/segoeuib.ttf') format('truetype');

  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SegoeUI';
  src: url('fonts/segoeuii.ttf') format('truetype');

  font-weight: normal;
  font-style: italic;
}


html {
	height:100%;
	width:100%;
}

body {
	font-family:'SegoeUI',Arial,Helvetica;
	font-size:16px;
	padding:10px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5bb0d8+0,1e5799+18,1e5799+99 */
	background: #5bb0d8; /* Old browsers */
	background: -moz-linear-gradient(top, #5bb0d8 0%, #1e5799 18%, #1e5799 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #5bb0d8 0%,#1e5799 18%,#1e5799 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #5bb0d8 0%,#1e5799 18%,#1e5799 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5bb0d8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}

.page-header {
	font-size:28px;
	color:#fff;
	text-shadow: -1px 1px 4px rgba(0, 0, 0, 0.5);
	margin:0px;
}

.content-panel {
	margin-top:15px;
	margin-bottom:15px;
	border-radius:4px;
	background:#ccc;
	padding:15px;
	background:rgba(255,255,255,0.9);
	box-shadow: -3px 3px 4px rgba(0,0,0,0.3);
}

.content-panel h3 {
	margin-top:0px;
	margin-bottom:5px;
	padding-bottom:0px;
	color:#11498b;
}




button {
	cursor:pointer;
	padding:10px;
	border-radius:3px;
	box-shadow: -2px 2px 2px rgba(0,0,0,0.3);
	border:1px solid #666;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ededed+0,d6d6d6+100 */
	background: #ededed; /* Old browsers */
	background: -moz-linear-gradient(top, #ededed 0%, #d6d6d6 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ededed 0%,#d6d6d6 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ededed 0%,#d6d6d6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#d6d6d6',GradientType=0 ); /* IE6-9 */
}

button * {
	cursor:pointer;
}
