<template>
    <style>
        @font-face {
			font-family: 'SegoeUI';
			src: url('fonts/segoeui.ttf') format('truetype');

			font-weight: normal;
			font-style: normal;
		}

		@font-face {
			font-family: 'SegoeUI';
			src: url('fonts/segoeuib.ttf') format('truetype');

			font-weight: 500;
			font-style: normal;
		}

		@font-face {
			font-family: 'SegoeUI';
			src: url('fonts/segoeuii.ttf') format('truetype');

			font-weight: normal;
			font-style: italic;
		}
		
		div[class="gallery-info"]  {
			font-weight:bold;
		}		
		div[class="gallery-info"] .info {
			font-weight:normal;
		}
		
		div[class="gallery-info"] {
	
			margin-left:10px;
			font-family: 'SegoeUI';
			font-size:12.5px;
			
			
			display: -webkit-flex;
			display: flex;
			-webkit-flex-flow: column !important;
			flex-flow: column !important;
			flex-direction: column !important;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-align-items: center;
			align-items: center;
		}
		
    </style>
    <div data-source="sampleAPI" class="gallery-info">
           <span> Image Name: <span class="info" data-skin-part="nameLabel"></span></span> 
            <span> Created On: <span class="info"data-skin-part="dateCreatedLabel"></span></span> 
            <span> URL: <span class="info"data-skin-part="urlLabel"></span></span> 
 
    </div>

</template>