<template>
    <style>
        @font-face {
			font-family: 'SegoeUI';
			src: url('fonts/segoeui.ttf') format('truetype');

			font-weight: normal;
			font-style: normal;
		}

		@font-face {
			font-family: 'SegoeUI';
			src: url('fonts/segoeuib.ttf') format('truetype');

			font-weight: 500;
			font-style: normal;
		}

		@font-face {
			font-family: 'SegoeUI';
			src: url('fonts/segoeuii.ttf') format('truetype');

			font-weight: normal;
			font-style: italic;
		}
		
		span[class="label"] {
			font-weight:bold;
			font-size:11px;
		}		
		span[class="label"] > .info {
			font-weight:normal;
		}
		
		div[class="content"] {
			display: -webkit-flex;
			display: flex;
			-webkit-flex-flow: column;
			flex-flow: column;
			flex-direction: column;
			-webkit-justify-content: center;
			justify-content: center;
			-webkit-align-items: center;
			align-items: center;
			font-family: 'SegoeUI';
			font-size:12.5px;

		}
		
		div[class="content"] .url {
			display:none;
		}
		
    </style>
    <div data-source="sampleAPI" class="content">
            <span class="label"><span class="info" data-skin-part="nameLabel"></span></span>
            <span class="label">Created on <span class="info"data-skin-part="dateCreatedLabel"></span></span>
            <!-- <span class="label">URL: <span class="info"data-skin-part="urlLabel"></span></span> -->
 
    </div>

</template>