<template>
    <style>
        @font-face {
            font-family: 'SegoeUI';
            src: url('fonts/segoeui.ttf') format('truetype');

            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'SegoeUI';
            src: url('fonts/segoeuib.ttf') format('truetype');

            font-weight: 500;
            font-style: normal;
        }

        @font-face {
            font-family: 'SegoeUI';
            src: url('fonts/segoeuii.ttf') format('truetype');

            font-weight: normal;
            font-style: italic;
        }
		div[class="input-skin2-checkbox"] {
			width:30px;
			height:30px;
			padding:0px;
			margin:0px;
		}

		div[class="input-skin2-checkbox"] .sprite-container {
			width:30px;
			height:30px;
			border:2px solid #f00;
			position:relative;
			left:-1px;
			top:-35px;
			  border-radius:6px;
            box-shadow:-1px 1px 3px rgba(0,0,0,0.2);
            background:#333;
			border: 2px solid #ffa025;
		}
		


        div[class="input-skin2-checkbox"] input {
			width:30px;
			height:30px;
			opacity:0;
			z-index:1;
			position:relative;
			cursor:pointer;
        }

		
		
        div[class="input-skin2-checkbox"] input * {
            cursor:pointer;
        }

        div[class="input-skin2-checkbox"] input:focus {
            outline: none;
        }

        div[class="input-skin1-checkbox"] input:hover {

        }
		div[class="input-skin2-checkbox"] input:hover~.sprite-container {
			border:2px solid #fff;
		}
		
		div[class="input-skin2-checkbox"] input:checked~.sprite-container {
			width:28px;
			height:28px;
			border:2px solid #ffa025;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d1631f+0,ffa025+100 */
			background: #d1631f; /* Old browsers */
			background: -moz-linear-gradient(top, #d1631f 0%, #ffa025 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, #d1631f 0%,#ffa025 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, #d1631f 0%,#ffa025 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1631f', endColorstr='#ffa025',GradientType=0 ); /* IE6-9 */
		
		}
		div[class="input-skin2-checkbox"] input~.sprite-container > .sprite {
			display:none;
		}
		
		div[class="input-skin2-checkbox"] input:checked~.sprite-container>.sprite {
			width:calc(100% - 4px);
			height:calc(100% - 4px);
			display:block;
			margin:2px;
			border-radius:4px;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100 */
			background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
			
			color:#222;
			font-weight:bold;
			font-size:16px;
			display:block;
			text-align:center;
			
			}
    </style>
	<div class="input-skin2-checkbox">
		<input data-skin-part="input" />
		<div class="sprite-container"><!-- empty div that is the actual sprite but positioned behind the radio/checkbox -->
			<div class="sprite">X</div>
		</div>
	</div>
</template>