<template>
    <style>
        @font-face {
            font-family: 'SegoeUI';
            src: url('fonts/segoeui.ttf') format('truetype');

            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'SegoeUI';
            src: url('fonts/segoeuib.ttf') format('truetype');

            font-weight: 500;
            font-style: normal;
        }

        @font-face {
            font-family: 'SegoeUI';
            src: url('fonts/segoeuii.ttf') format('truetype');

            font-weight: normal;
            font-style: italic;
        }


        input{
            cursor:pointer;
            color:#fff;
            box-shadow:-3px 3px 5px rgba(0,0,0,0.3);
            border: 1px solid #4099ff;

            padding:10px;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5bb0d8+0,1e5799+44,1e5799+89,1f6b8e+100 */
            background: #5bb0d8; /* Old browsers */
            background: -moz-linear-gradient(top, #5bb0d8 0%, #1e5799 44%, #1e5799 89%, #1f6b8e 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #5bb0d8 0%,#1e5799 44%,#1e5799 89%,#1f6b8e 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #5bb0d8 0%,#1e5799 44%,#1e5799 89%,#1f6b8e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5bb0d8', endColorstr='#1f6b8e',GradientType=0 ); /* IE6-9 */
        }

        input * {
            cursor:pointer;
        }

        input:focus {
            outline: none;
        }

        input:hover {
            border:1px solid #f00;
            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9c67a+1,fc7e1e+49,f9af02+87,ffcc68+100 */
            background: #f9c67a; /* Old browsers */
            background: -moz-linear-gradient(top, #f9c67a 1%, #fc7e1e 49%, #f9af02 87%, #ffcc68 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top, #f9c67a 1%,#fc7e1e 49%,#f9af02 87%,#ffcc68 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, #f9c67a 1%,#fc7e1e 49%,#f9af02 87%,#ffcc68 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c67a', endColorstr='#ffcc68',GradientType=0 ); /* IE6-9 */
        }
    </style>
    <input data-skin-part="input"/>
</template>