<template>
    <style>
        @font-face {
            font-family: 'SegoeUI';
            src: url('fonts/segoeui.ttf') format('truetype');

            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'SegoeUI';
            src: url('fonts/segoeuib.ttf') format('truetype');

            font-weight: 500;
            font-style: normal;
        }

        @font-face {
            font-family: 'SegoeUI';
            src: url('fonts/segoeuii.ttf') format('truetype');

            font-weight: normal;
            font-style: italic;
        }


        input[class="input-skin2"]{
            cursor:pointer;
            color:#ffa025;
            border-radius:36px;
            box-shadow:-1px 1px 3px rgba(0,0,0,0.2);
			font-family:'SegoeUI';
			font-size:12px;
			padding:8px;
			background:#333;
			 border: 2px solid #ffa025;
			min-width:30px;
			
        }

        input[class="input-skin2"] * {
            cursor:pointer;
        }

        input[class="input-skin2"]:focus {
            outline: none;
			color:#fff;
			 border: 2px solid #ffa025;
		
        }

        input[class="input-skin2"]:hover {
            border: 2px solid #fff;
		color:#fff;
        }
    </style>
    <input data-skin-part="input" class="input-skin2"/>
</template>