<template>
    <style>
        @font-face {
            font-family: 'SegoeUI';
            src: url('fonts/segoeui.ttf') format('truetype');

            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'SegoeUI';
            src: url('fonts/segoeuib.ttf') format('truetype');

            font-weight: 500;
            font-style: normal;
        }

        @font-face {
            font-family: 'SegoeUI';
            src: url('fonts/segoeuii.ttf') format('truetype');

            font-weight: normal;
            font-style: italic;
        }


        div[class="input-skin1-silder"]{
            cursor:pointer;
            color:#333;
            border-radius:6px;
            box-shadow:-1px 1px 3px rgba(0,0,0,0.2);
            border: 1px solid #777;
			font-family:'SegoeUI';
			font-size:12px;
			padding:4px;
			background:#eee;
			
        }
		
		div[class="input-skin1-silder"]:hover {
			border: 2px solid #1f6b8e;
			padding:3px;
		}

        div[class="input-skin1-silder"] input * {
            cursor:pointer;
        }

        div[class="input-skin1-silder"] input:focus {
            outline: none;
        }

        div[class="input-skin1-silder"] input:hover {
        }
    </style>
	<div class="input-skin1-silder">
		<input data-skin-part="input" />
	</div>
</template>