<template>
    <style>
        @font-face {
            font-family: 'SegoeUI';
            src: url('../css/fonts/segoeui.ttf') format('truetype');

            font-weight: normal;
            font-style: normal;
        }

        @font-face {
            font-family: 'SegoeUI';
            src: url('../css/fonts/segoeuib.ttf') format('truetype');

            font-weight: 500;
            font-style: normal;
        }

        @font-face {
            font-family: 'SegoeUI';
            src: url('../css/fonts/segoeuii.ttf') format('truetype');

            font-weight: normal;
            font-style: italic;
        }


        select[class="dropdown-button2"]{
			width:35%;
			max-width:400px;
			border-radius:26px;
			min-height:30px;
			padding:6px;
			font-size:14px;
			font-weight:bold;
            cursor:pointer;
            color:#459866;
			font-family: 'SegoeUI';
            box-shadow:-2px 2px 5px rgba(0,0,0,0.3);
            border: 2px solid #459866;
			/*
			-webkit-appearance: none;
			appearance: none;
			*/
			 outline: none;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100 */
			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(top, #ffffff 0%, #ffffff 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, #ffffff 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, #ffffff 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
		}
		
        select[class="dropdown-button2"] * {
            cursor:pointer;
        }

        select[class="dropdown-button2"]:focus {
            outline: none;
        }

        select[class="dropdown-button2"]:hover {
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9de96+0,8ab66b+44,398235+100;Green+3D+%233 */
			background: #c9de96; /* Old browsers */
			background: -moz-linear-gradient(top, #c9de96 0%, #8ab66b 44%, #398235 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, #c9de96 0%,#8ab66b 44%,#398235 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, #c9de96 0%,#8ab66b 44%,#398235 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9de96', endColorstr='#398235',GradientType=0 ); /* IE6-9 */
			color:#fff;
		}			
		select[class="dropdown-button2"] > option[class="list-item"] {
			background:#eee;
			font-size:14px;
			font-family: 'SegoeUI';
			color:#459866;
			font-weight:bold;
		}
	
		/* No overrides for option items - OS handles this component */
		select[class="dropdown-button2"] > option[class="list-item"]:hover {
			background:#400 !important;
		}
    </style>
    <select data-attribute-item-view="Lotus.ListItemView" data-skin-part="collectionContainer" class="dropdown-button2">
        <option data-skin-part="itemTemplate" class="list-item"></option>
    </select>
</template>